# Measures of Central Tendency Part 2

In [1]:
age = [1,2,34,56,7,8,9,1]

In [5]:
import numpy as np

In [6]:
np.average(age)

14.75

In [7]:
weight = [89,98,95,12,45,7,55,54,4,98]

In [8]:
np.average(weight)

55.7

In [10]:
np.median(weight)

54.5

In [11]:
weight = [89,98,95,12,45,7,55,54,4,98,1000]

In [13]:
np.average(weight)

141.54545454545453

In [14]:
np.median(weight)

55.0

In [17]:
from scipy import stats as st

In [19]:
st.mode(weight)

/tmp/ipykernel_84/4042666065.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  st.mode(weight)

ModeResult(mode=array([98]), count=array([2]))

#  Covariance Correlation Part 2

In [20]:
import seaborn as sns

In [24]:
df=sns.load_dataset('healthexp')

In [25]:
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [27]:

import numpy as np

In [29]:
# covariance
df.cov()

/tmp/ipykernel_84/2109561120.py:2: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [31]:
# corelation pearson
df.corr(method='pearson')

/tmp/ipykernel_84/2730314386.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='pearson')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

In [32]:
# corelation spearman
df.corr(method='spearman')

/tmp/ipykernel_84/3028499553.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr(method='spearman')

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.931598         0.896117
Spending_USD     0.931598      1.000000         0.747407
Life_Expectancy  0.896117      0.747407         1.000000

In [33]:
df2=sns.load_dataset('penguins')

In [34]:
df2.corr()

/tmp/ipykernel_84/1778878097.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.235053,0.656181,0.595110
bill_depth_mm,-0.235053,1.000000,-0.583851,-0.471916
flipper_length_mm,0.656181,-0.583851,1.000000,0.871202
body_mass_g,0.595110,-0.471916,0.871202,1.000000

In [36]:
df2.corr(method='spearman')

/tmp/ipykernel_84/4030477065.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.corr(method='spearman')

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
bill_length_mm,1.000000,-0.221749,0.672772,0.583800
bill_depth_mm,-0.221749,1.000000,-0.523267,-0.432372
flipper_length_mm,0.672772,-0.523267,1.000000,0.839974
body_mass_g,0.583800,-0.432372,0.839974,1.000000

# Measures of Dispersion Part 2

In [38]:
import numpy as np

In [37]:
# varinace 
age = [23,43,23,56,7,43,26,68,98,45,32]

In [40]:
mean = np.mean(age)

In [43]:
# varinace
var = np.var(age)
var

574.694214876033

In [44]:
sd = np.std(age)
sd

23.972780708045384

In [46]:
import pandas as pd

In [47]:
data=[[10,12,13],[34,23,45],[32,34,21]]

In [48]:
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [55]:
df = pd.DataFrame(data,columns=['A','B','C'])
df

    A   B   C
0  10  12  13
1  34  23  45
2  32  34  21

In [56]:
df.var(axis=0)

A    177.333333
B    121.000000
C    277.333333
dtype: float64

In [57]:
df.var(axis=1)

0      2.333333
1    121.000000
2     49.000000
dtype: float64